{% extends "layout.html" %}
{% block content %}
	<h1>HELLO WORLD!!</h1>
<form id = "department" method="GET" action="/">
	<input type = 'submit'>
</form>

<select form = "department" name="department">
	{% for department in departments %}
		<option value="{{department}}">{{department}}</option>"
	{% endfor %}
</select>

<table border = "1">
		<tr style="background-color:rgb(50, 66, 205);color:white;">
			<th>professor_id </th>
			<th>professor_name</th>
			<th>department</th>
		</tr>
		{% for item in result_set %}
		<tr>
			<td>{{item[0]}}</td>
			<td>{{item[1]}}</td>
			<td>{{item[2]}}</td>
		</tr>
		{% endfor %}
</table>



{% endblock content %}
